<br><br>
<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="assets/img/logo.png" alt=""></h3>
                <div class="textwidget">
                  <p>{{pera}}</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">{{hthreetitle}}</h3>
              <ul class="footer-link">
                <li><a href="#">{{li1}}</a></li>
                <li><a href="#">{{li2}}</a></li>
                <li><a href="#">{{li3}}</a></li>
                <li><a href="#">{{li4}}</a></li>           
                <li><a href="#">{{li5}}</a></li>          
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">{{hfourtitle}}</h3>
              <ul class="footer-link">
                <li><a href="#">{{li6}}</a></li>
                <li><a href="#">{{li7}}</a></li>
                <li><a href="#">{{li8}}</a></li>
                <li><a href="#">{{li9}}</a></li>
                <li><a href="#">{{li10}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">{{hfivetitle}}</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i>{{Madison}}-<br>{{New}}</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> P: +84 846 250 592</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: contact@uideck.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>  
      </div> 
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>{{copy}}<a rel="nofollow" href="https://uideck.com">UIdeck</a>{{right}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </footer> 


<!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-arrow-up"></i>
    </a>
    
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    